{%  extends "layout.html" %}

 {%  block title %}US Map Demo{%  endblock %}

{% block pageSpecificHeadContent %}
<!-- Inside this block, put any content that should go
     into the head element of the page  -->

<script src="{{ url_for('static', filename='home.js') }}">
  </script>
	</script>

{% endblock %}


 {%  block content %}
  <h1>Home</h1>

  <div id="alert">Click alerts</div>

  <div id="map" style="width: 930px; height: 630px; border: solid 3px red;"></d\
iv>

  <button id="over-md">mouseover MD</button> <button id="out-md">mouseout MD</b\
utton>
  <div id="map2" style="width: 300px; height: 300px;"></div>




  
 {%  endblock %}
